  
  /*@font-face {
    font-family: 'crossoverregular';
    src:    url("../../dist/font/crossover-webfont.woff") format("woff"), 
            url("../../dist/font/crossover-webfont.woff2") format("woff");
    font-weight: normal;
    font-style: normal; }

//   @font-face {
//     font-family: 'crossoverextralight';
//     src:    url("../../dist/font/crossover_extralight-webfont.woff") format("woff");
//     font-weight: normal;
//     font-style: normal; }

  @font-face {
    font-family: 'crossoverlight';
    src:    url("../../dist/font/crossover_light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
*/



@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');