// $bg-color-body: #ffffff;
// $brand-color: #ffffff;
// $btn-color: #ffffff;
// $text-color-tit: #6e005c;
// $text-color-tit-dark:#340026;
// $text-color-subtit: #666b6c;

// $bg-color-tarifas: #ffefee;

// $text-color-todos-txt: #454343;
// $text-color-servicios-h4: #010101;
// $color-servicios-elems-border: #010101;
// $color-comparador-elems-border: #010101;
// $text-color-comparador-h4: #010101;


$active-blue:#92cdd3;
$active-green:#64b486;
$active-grana:#aa98b1;
$active-color-naranja:#ff964a;
$active-colorAd1:#ffe454;
$active-colorAd2:#aa9777;

$noactive-color: rgba(255,255,255,.4);
$noactive-colorbg: #b4b3b4;

$color-nombre-calle: #534954;
$color-botones-iniciales: #ba1b08;
$bgcolor-secciones: #f9f6e9;

$bgcolor-sitio-tipo-A: #92cdd3;
$bgcolor-sitio-tipo-B: #aa98b1;
$bgcolor-sitio-tipo-C: #9faeb1;


